In [1]:
import pandas as pd

From a Dictionary

In [3]:
data = {
    'Name': ['Gokul', 'Athul', 'Govind'],
    'Age': [25, 30, 35],
    'City': ['aluva','Angamaly', 'Thrissur']
}

df = pd.DataFrame(data)
print(df)

     Name  Age      City
0   Gokul   25     aluva
1   Athul   30  Angamaly
2  Govind   35  Thrissur

From a list of lists

In [4]:
data = [
    ['Gokul', 25, 'Aluva'],
    ['Athul', 30, 'Angamaly'],
    ['Govind', 35, 'Thrissur']
]

columns = ['Name', 'Age', 'City']

df = pd.DataFrame(data, columns=columns)

print(df)

     Name  Age      City
0   Gokul   25     Aluva
1   Athul   30  Angamaly
2  Govind   35  Thrissur

From a CSV file

In [5]:
df = pd.read_csv('https://corgis-edu.github.io/corgis/datasets/csv/weather/weather.csv')
print(df)

       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  2016-01-03           1             3       2016
1                    0.00  2016-01-03           1             3       2016
2                    0.16  2016-01-03           1             3       2016
3                    0.00  2016-01-03           1             3       2016
4                    0.01  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16738                0.08  2017-01-01           1             1       2017
16739                0.00  2017-01-01           1             1       2017
16740                0.00  2017-01-01           1             1       2017
16741                0.06  2017-01-01           1             1       2017
16742                0.10  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                             39                         46
1                             39                         47
2                             46                         51
3                             45                         52
4                             34                         38
...                          ...                        ...
16738                         23                         32
16739                         32                         42
16740                         17                         29
16741                         23                         31
16742                         21                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

[16743 rows x 14 columns]